<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <modules>
        <module class="ND.modules.file.openfile.OpenBasicFileModule">
            <parameters>
                <parameter name="File name">
                    <file>/home/scsandra/Documents/CellFactory2015/retropath/model/yeast_7.6/yeast_7.6_cobra.xml</file>
                </parameter>
            </parameters>
        </module>
        <module class="ND.modules.file.openProject.OpenProjectModule">
            <parameters>
                <parameter name="Project name">/home/scsandra/Documents/CleanCellFactory/TreeReconstruction/Project/test.zip</parameter>
            </parameters>
        </module>
        <module class="ND.modules.file.saveProject.SaveProjectModule">
            <parameters>
                <parameter name="File name">/home/scsandra/Documents/CleanCellFactory/TreeReconstruction/Project/test.zip</parameter>
            </parameters>
        </module>
        <module class="ND.modules.configuration.sources.SourcesConfModule">
            <parameters>
                <parameter name="Source">/home/scsandra/Documents/CleanCellFactory/TreeReconstruction/Data/minMed.csv</parameter>
                <parameter name="Reaction bounds"/>
            </parameters>
        </module>
        <module class="ND.modules.configuration.cofactors.CofactorConfModule">
            <parameters>
                <parameter name="NAD+ id">C00003</parameter>
            </parameters>
        </module>
        <module class="ND.modules.simulation.PathsBetweenReactions.AntBetweenModule">
            <parameters>
                <parameter name="Compound ID From:">s_1382</parameter>
                <parameter name="Compound ID To:">s_0174</parameter>
                <parameter name="Excluded compounds:">s_0803,s_1275,s_1200,s_0794,s_0797,s_0799, s_1278,s_1205,s_1198,s_1203,s_1205,s_1212,s_1207,s_1214,s_1210,s_1207,s_0807,s_0796,s_1419,s_0831,s_1273,s_0532</parameter>
            </parameters>
        </module>
        <module class="ND.modules.simulation.superAnt.SuperAntModule">
            <parameters>
                <parameter name="Compound ID">s_1399</parameter>
                <parameter name="Number of Iterations">10</parameter>
                <parameter name="Steady state">true</parameter>
            </parameters>
        </module>
        <module class="ND.modules.simulation.superAntAdvanced.SuperAntAdvancedModule">
            <parameters>
                <parameter name="Compound ID">C00133</parameter>
                <parameter name="Reaction">r430ANIDULANSR01790</parameter>
                <parameter name="Number of Iterations">100</parameter>
                <parameter name="Steady state">true</parameter>
            </parameters>
        </module>
        <module class="ND.modules.reactionOP.addReaction.AddReactionModule">
            <parameters>
                <parameter name="Reaction name">Biomass</parameter>
                <parameter name="Compound Id">CHEBI37671,C00008,C00133,C00020,C00062,C00152,C00049,C00002,C00575,CHEBI17029,C00055,C00010,C00097,C00360,C00239,C00362,C00364,C01694,C00016,C00035,C00096,C00064,C00025,C00037,C00144,C00051,C00001,C00135,C00407,C00123,C00047,C00073,C00003,C00079,C00009,C00148,C00255,C00065,C00059,C00369,C00101,C00188,C01083,C00078,C00082,C00105,C00183,C05437,Growth </parameter>
                <parameter name="Stoichiometry">-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1</parameter>
                <parameter name="Lower bound">0.0</parameter>
                <parameter name="Upper bound">1000.0</parameter>
            </parameters>
        </module>
        <module class="ND.modules.reactionOP.removeReaction.RemoveReactionModule">
            <parameters>
                <parameter name="Reaction name">Biomass</parameter>
            </parameters>
        </module>
        <module class="ND.modules.reactionOP.showReaction.ShowReactionModule">
            <parameters>
                <parameter name="Reaction name">r_0408</parameter>
            </parameters>
        </module>
        <module class="ND.modules.reactionOP.showAllReactionList.ShowAllReactionsModule">
            <parameters/>
        </module>
        <module class="ND.modules.reactionOP.showCompound.ShowCompoundModule">
            <parameters>
                <parameter name="Compound name">s_0279</parameter>
            </parameters>
        </module>
        <module class="ND.modules.reactionOP.showAllCompoundList.ShowAllCompoundsModule">
            <parameters/>
        </module>
        <module class="ND.modules.reactionOP.AddInfo.AddInfoModule">
            <parameters>
                <parameter name="File name">/home/scsandra/Documents/CellFactory2015/retropath/mappings/experiment.csv</parameter>
                <parameter name="Database">/home/scsandra/Documents/CellFactory2015</parameter>
            </parameters>
        </module>
        <module class="ND.modules.simulation.somePaths.SomePathsModule">
            <parameters>
                <parameter name="Compound ID">C00042</parameter>
                <parameter name="Number of Iterations">100</parameter>
                <parameter name="Steady state">true</parameter>
            </parameters>
        </module>
        <module class="ND.modules.otimization.LP.LPModule">
            <parameters>
                <parameter name="Objective">C00055</parameter>
            </parameters>
        </module>
        <module class="ND.modules.reactionOP.fluxAnalysis.FluxAnalysisModule">
            <parameters>
                <parameter name="Fluxes">/home/scsandra/Documents/gopal/testvis.csv</parameter>
                <parameter name="Flux threshold">1.0E-6</parameter>
            </parameters>
        </module>
        <module class="ND.modules.analysis.ClusteringKmeans.ClusteringModule">
            <parameters>
                <parameter name="Number of clusters">3</parameter>
            </parameters>
        </module>
        <module class="ND.modules.analysis.ClusteringBetweenness.ClusteringBetweennessModule">
            <parameters>
                <parameter name="Number of edges to remove">100</parameter>
            </parameters>
        </module>
        <module class="ND.modules.analysis.kNeighborhood.KNeighborhoodModule">
            <parameters>
                <parameter name="Radius">2</parameter>
                <parameter name="Root node">r0713YCM606R00342</parameter>
            </parameters>
        </module>
        <module class="ND.modules.analysis.CompareModels.CompareModule">
            <parameters/>
        </module>
        <module class="ParameterPath">
            <parameters/>
        </module>
    </modules>
</configuration>
